.page-header {
  display: flex;

  .main-nav:not(.main-nav_opened) {
    padding-top: 19px;
  }

  .main-nav_opened {
    padding-top: 27px;
  }

  @media (max-width: $only-mobile) {
    height: 484px;
    background-image: url(".././img/traveller-illustration-mobile.svg"), url(".././img/globe-back-mobile.png");
    background-position: center bottom ;
    background-repeat: no-repeat;
  }
}
